.idea
env/
symusic/
output/
lightning_logs/
data/
tests/visualizations
__pycache__
.DS_Store
*.swp
*.bin
=0.26.0
anticipation.egg-info/
build/
generated_samples.txt
generated_samples_nov3.txt
generated_samples_nov3_256len.txt
generated_samples_nov3_scratch_1024.txt
lmd_0fffa03d17a6fdebaa01fa02f4a762d4.mid.compound.txt
old_prepare_local_midi.py
random_10_songs.py
script.py
single_test/
single_test_output/
tests/tokens_per_sec.py
tests/v2/settings_b82a7a2750e3c5836ffb9bf564720cd8.json
train_mamba.py
train_script_old.py
train/v2/training2.py